/*---------------------------------------------------------------------------*/
/*スタイルシート*/
/*単位はemが基本*/
/*---------------------------------------------------------------------------*/
body {
	padding				: 0.2em 0.8em 0 0.3em;
	background-color    : rgb(252,255,252);
}
/*---------------------------------------------------------------------------*/
a:hover {
	color				: rgb(255,0,0);
	background-color	: rgb(200,200,255);
}
/*---------------------------------------------------------------------------*/
table {
	border-collapse		: collapse;
}
/*---------------------------------------------------------------------------*/
th {
	padding				: 0.1em 0.1em 0.1em 0.3em;
}
/*---------------------------------------------------------------------------*/
td {
	padding				: 0.1em 0.2em 0.1em 0.3em;
}
/*---------------------------------------------------------------------------*/
.files  th, .files td {
	padding				: 0.1em 0.1em 0.1em 0.3em;
	border: 1px solid #999;
}
/*---------------------------------------------------------------------------*/
hr {
	border				: 1px solid blue;
	width				: 95%;
	height				: 1px;
	border-color		: rgb(30,190,70);
}
/*---------------------------------------------------------------------------*/
pre {
	background-color	: rgb(220,220,220);
	padding				: 0.5em 0 0.5em 1em;
	margin				: 0em;
}
/*---------------------------------------------------------------------------*/
/*全体の大きさ*/
/*.whole {
	width				: 56em;
}
*/
/*---------------------------------------------------------------------------*/
/*左側のメニュー*/
.menu {
	vertical-align		: top;
	padding				: 1em 0 0 1em;
	margin				: 0;
	width				: 13em;
	font-size			: 0.9em;
	line-height			: 2em;
}
/*---------------------------------------------------------------------------*/
/*右側の内容*/
.content {
	vertical-align		: top;
	padding				: 0.8em;
	margin				: 0.8em;
	width				: 45em;
	line-height			: 1.3em;
}
/*---------------------------------------------------------------------------*/
/*章のみだし  ページの一番上に付ける*/
.chapter {
	width				: 20em;
	vertical-align		: top;
	padding				: 0.4em;
	font-size			: 2em;
	font-weight			: bold;
	border-width		: 2px 0px 2px 0px ;
	border-style		: solid;
	border-color		: rgb(30,190,70);
}
/*---------------------------------------------------------------------------*/
/*節のみだし*/
.section {
	margin				: 1em 0 0.5em 0em;
	padding				: 0.2em 0.2em 0.2em 0.8em;
	font-size			: 1.4em;
	font-weight			: bold;
	border-width		: 2px 0px 2px 0px ;
	border-style		: solid;
	border-color		: rgb(30,190,70);
}
/*---------------------------------------------------------------------------*/
/*図表に付ける文字*/
.caption {
	font-size			: 1em;
	font-weight			: bold;
	text-align			: center;
}
/*---------------------------------------------------------------------------*/
/*強調*/
.strong {
	font-weight			: bold;
	font-size			: 1.0em;
	color				: rgb(0,0,0);
	line-height			: 130%;
}
/*---------------------------------------------------------------------------*/
/*注意*/
.note {
	font-weight			: bold;
	font-size			: 1.0em;
	color				: rgb(255,0,0);
}
/*---------------------------------------------------------------------------*/
/*注意*/
.caution {
	font-weight			: bold;
	font-size			: 1.4em;
	color				: rgb(255,0,0);
}
/*---------------------------------------------------------------------------*/
/*ソフトの名前*/
.softname {
	font-weight			: bold;
	font-size			: 1.3em;
	color				: rgb(0,0,255);
}
/*---------------------------------------------------------------------------*/
/*人に優しいソフト  divで使う*/
.friendly {
	font-weight			: bold;
	font-size			: 1.6em;
	color				: rgb(0,0,255);
	text-align			: center;
}
/*---------------------------------------------------------------------------*/
/*脚注*/
.footnote {
	font-size			: 0.8em;
}
/*---------------------------------------------------------------------------*/
.change {
	color: red;
font-weight: bold;
}
